# --------------------
# Python
# --------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# --------------------
# Virtual environment
# --------------------
venv/
.env
.venv/

# --------------------
# Django
# --------------------
db.sqlite3
*.log
staticfiles/
media/

# --------------------
# VS Code
# --------------------
.vscode/

# --------------------
# OS
# --------------------
.DS_Store
Thumbs.db

# --------------------
# Pipenv
# --------------------
Pipfile.lock

# --------------------
# Tests / cache
# --------------------
.pytest_cache/
.coverage
htmlcov/